{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Gallery :: Portrait
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/collections.css' %}" type="text/css"/>
    <style>
        .sample-description>h5{
            margin-bottom: 15px;
        }
        .sample-container{
            max-width: 23%;
            min-width: 280px;
        }

        @media only screen and (max-width: 1702px){
            .sample-container{
                max-width: 45%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="image-container">
        <div class="header-gradient">
            <div class="container extended">
                <div class="collection-info">
                    <h3>Portraits</h3>
                    <h5>그들의 이야기를 전달합니다.</h5>
                </div>
            </div>
        </div>
        <img class="background" src="{% static 'mainpage/image/collections/portrait/background.jpg' %}">
    </div>
    <div class="container extended" style="max-width: 1700px">
        <h4 class="collection-title">다양한 사람들, 그리고 그들의 이야기를 전달합니다.</h4>
        <blockquote class="collection-description">
            컬렉션 'Portraits'는 여러 사람들의 모습과 그 속에 담긴 이야기를 사진으로써 전달합니다.<br>
            아래에서 컬렉션의 대표작을 만나보세요.

        </blockquote>
            <div class="sample-wrapper">
            <div class="card-panel grey darken-4 sample-container">
                <img class="materialboxed" src="{% static 'mainpage/image/collections/portrait/sample-1.jpg' %}">
                <div class="sample-description">
                    <h5>지령받는 소방관</h5>
                    <div class="metadata grey darken-3">
                        <div class="valign-wrapper">
                            <i class="material-icons">camera_alt</i>
                            ILCE-1(Sony FE 50mm F1.2 GM)
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">camera</i>
                            F1.2, 1/200
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">movie_filter</i>
                            ISO 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-panel grey darken-4 sample-container">
                <img class="materialboxed" src="{% static 'mainpage/image/collections/portrait/sample-2.jpg' %}">
                <div class="sample-description">
                    <h5>화재 진압대원</h5>
                    <div class="metadata grey darken-3">
                        <div class="valign-wrapper">
                            <i class="material-icons">camera_alt</i>
                            ILCE-1 (Sony FE 50mm F1.2 GM)
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">camera</i>
                            F5.0, 1/125
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">movie_filter</i>
                            ISO 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-panel grey darken-4 sample-container">
                <img class="materialboxed" src="{% static 'mainpage/image/collections/portrait/sample-3.jpg' %}">
                <div class="sample-description">
                    <h5>과거의 나</h5>
                    <div class="metadata grey darken-3">
                        <div class="valign-wrapper">
                            <i class="material-icons">camera_alt</i>
                            ILCE-1(Sony FE 100mm F2.8 STF GM)
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">camera</i>
                            F3.5, 1/125
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">movie_filter</i>
                            ISO 320
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-panel grey darken-4 sample-container">
                <img class="materialboxed" src="{% static 'mainpage/image/collections/portrait/sample-4.jpg' %}">
                <div class="sample-description">
                    <h5>당당한 나</h5>
                    <div class="metadata grey darken-3">
                        <div class="valign-wrapper">
                            <i class="material-icons">camera_alt</i>
                            ILCE-1 (Sony FE 100mm F2.8 STF GM)
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">camera</i>
                            F3.5, 1/400
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons">movie_filter</i>
                            ISO 320
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/header.js' %}"></script>
{% endblock %}