.slider-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    max-width: 1280px;
    width: 70vw;
    margin: auto;
}

.find_more{
    font-size: 24px;
    color: #bababa;

}

/* layout nav override */
nav{
    background-color: rgba(5,5,5, 0.7) !important;
    backdrop-filter: blur(10px);
}

.no-shadow {
    background-color: #101010 !important;
    box-shadow: none !important;
    padding-top: 10px;

}
