.slider-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    max-width: 1280px;
    width: 70vw;
    margin: auto;
}

.find_more{
    font-size: 24px;
    color: #bababa;
    transition: .3s;
}

.find_more:hover{
    color: deepskyblue;
}

.section-title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.cards-wrap{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    width: 30%;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    background-color: #212121;
}

.card-content{
    color: #f0f0f0;
}

.card br{
    display: none;
}

.card-title{
    font-weight: 600 !important;
}

.card-image{
    overflow: hidden;
}

.card img{
    -webkit-filter: brightness(70%);
    object-fit: cover;
    transition: 0.3s;
}

.card img:hover{
    will-change: transform;
    transform: scale(1.2);
}

@media screen and (min-width: 1280px){
    .card br{
        display: inline;
    }
}

@media screen and (max-width: 800px){
    .cards-wrap{
        flex-direction: column;
        margin-top: 20px;
    }

    .card{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card br{
        display: inline;
    }

    .section-title{
        margin-bottom: 0;
    }

}

@media screen and (max-width: 425px){
    .section-title{
        font-size: 28px;
    }
}




