.page-title {
    margin: 0;
}

.notification{
    padding: 5px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.notification>i{
    margin-left: 15px;
    margin-right: 15px;
}

.notification>h6{
    line-height: 130%;
    font-weight: 300;
}

.notification strong{
    font-weight: 600;
}

#toolbar {
    flex-direction: row-reverse;
}

#no-record {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 835px);
}

/* table */

#no-record>.material-icons {
    font-size: 64px;
}

#no-record>h5 {
    font-weight: 300;
}

.select-wrapper {
    margin-right: 15px;
}

.caret {
    fill: white !important;
}

.select-dropdown {
    font-family: Pretendard Variable, serif;
}

tr{
    border-color: #919191;
}

.action-wrapper{
    padding: 17px 5px 13px;
}

.action-btn{
    color: #f0f0f0;
    margin-right: 10px;
}

.action-btn:hover{
    color: #6e6e6e;
    transition: 0.2s;
}

.delete:hover{
    color: #c62828 !important;
}

.table-wrapper{
    min-height: calc(100vh - 835px);
}

tr{
    height: 50px;
}


/* modal */
.modal{
    background-color: #2e2e2e;
    max-width: 550px;
}


.modal iframe{
    width: 100%;
    min-height: 580px;
    border: none;
}

.modal-footer{
    background-color: #2e2e2e !important;
    /*border-top: 1px solid #808080;*/
}

.modal p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
}

.modal h5{
    margin-top: 0;
    font-weight: 700;
}

.modal-footer a{
    color: #f0f0f0 !important;
    font-size: 16px;
}

.modal-footer a:hover{
    background-color: #363636;
}