{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'view/css/view.css' %}" type="text/css"/>
{% endblock %}

{% block title %}
    Gallery :: View
{% endblock %}

{% block layout %}
    <div class="wrapper">
        <div class="bar top-toolbar valign-wrapper z-depth-1">
            <a id="backward" href="javascript:history.back()">
                <i class="material-icons" style="font-size: 38px">chevron_left</i>
            </a>
            <p>돌아가기</p>
            <p id="title">사진 상세보기</p>
        </div>
        <div class="container extended" style="flex-grow: 1">
            <div class="image-wrapper">
                <div id="image-container">
                    <img id="img" class="materialboxed" src="{{ target.image.url }}" alt="image">
                </div>
            </div>
        </div>
        <div class="bar info-bar z-depth-1">
            <div class="container extended metadata-wrapper">
                <p id="metadata"><strong>ILCE-1 (Sony FE 50mm F1.2 GM)</strong><br> F3.5, 1/8000, Aperture Priorty, Center Weighted</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        M.AutoInit();
    </script>
{% endblock %}