{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'view/css/view.css' %}" type="text/css"/>
{% endblock %}

{% block title %}
    Gallery :: View
{% endblock %}

{% block layout %}
    <div class="top-toolbar">

    </div>
    <div class="container">
    <div class="image-wrapper">
        <div id="image-container">
            <img id="img" class="materialboxed" src="{{ target.image.url }}" alt="image">
        </div>
    </div>
    </div>
    <div class="info-wrapper">
            <div class="container">
                <div class="info-card card-panel z-depth-1 grey darken-4">
                    <h6>이미지 정보</h6>
                </div>
            </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        M.AutoInit();
    </script>
{% endblock %}