.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.extended{
    max-width: 1800px !important;
}

@media only screen and (min-width: 993px){
    .container{
        width: 80% !important;
    }
}
.top-toolbar{
    margin-bottom: 40px;
}

.bar{
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    color: #c7c7c7 !important;
    display: flex;
    background-color: #212121;
}

#title{
    text-align: end;
    flex-grow: 1;
    font-weight: 600;
}

@media only screen and (max-width: 430px){
    .top-toolbar {
        padding-left: 10px;
        padding-right: 10px;
    }
    #title{
        display: none;
    }
}

.top-toolbar p{
    font-size: 18px;
    margin: 0;
}

#backward {
    font-size: 0;
    color: #c7c7c7;
    transition: .3s;
}

#backward:hover{
    color: #ffffff;
    cursor: context-menu;
}

.image-wrapper{
    /*height: calc(100vh - 300px);*/
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-container{
    overflow: hidden;
}

#img{
    width: 100%;
    height: calc(100vh - 200px);
    object-fit: contain;
    object-position: center;
    transform-origin: center;

}

.info-bar{
    height: 70px;
    margin-top: 40px;
}

.metadata-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#metadata{
    text-align: center;
    font-weight: 300;
    margin: 0;
}

#metadata>strong{
    font-weight: 600;
}