{% extends 'layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/contributors.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="header-container" style="background-image: url('{% static 'mainpage/image/contributors/header.jpg' %}')">
        <h3 class="title">Contributors</h3>
        <h5 class="description">이 프로젝트를 만든 사람들.</h5>
        <div class="header-gradient"></div>
    </div>
    <div class="container">
        <div class="card-panel grey darken-3 z-depth-1" style="">
          <div class="row">
            <div class="col picture">
              <img src="{% static 'mainpage/image/contributors/copperminesp_profile.jpg' %}" alt="" class="circle responsive-img">
            </div>
            <div class="col profile">
                <h5>손유찬 (Coppermine-SP)</h5>
                <h6>국립창원대학교 정보통신공학과</h6>
                <i>"사람과 세상을 연결하는 기술."</i>
                <h6><strong>Software Engineer</strong></h6>
                <ul>
                    <li>Full-stack Software Development (.NET, C++, Python)</li>
                    <li>Web Application Development (Microsoft ASP.NET MVC)</li>
                    <li>Server Engineering (Windows Server, Microsoft SQL Server)</li>
                    <li>IP-Network Infrastructure Engineering (UniFi, Cisco)</li>
                </ul>
            </div>
          </div>
        </div>

        <div class="card-panel grey darken-3 z-depth-1" style="">
          <div class="row">
            <div class="col picture">
              <img src="{% static 'mainpage/image/contributors/privet_profile.jpg' %}" alt="" class="circle responsive-img">
            </div>
            <div class="col profile">
                <h5>임해주 (Privet)</h5>
                <h6>국립창원대학교 정보통신공학과</h6>
                <i>"인문학과 자연과학의 대화"</i>
                <h6><strong>Software Engineer</strong></h6>
                <ul>
                    <li>Cryptography and Secure Communication Protocols</li>
                    <li>Embedded Systems Programming (C, C++)</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="card-panel grey darken-3 z-depth-1" style="">
          <div class="row">
            <div class="col picture">
              <img src="{% static 'mainpage/image/contributors/mingyukang0503_profile.jpeg' %}" alt="" class="circle responsive-img">
            </div>
            <div class="col profile">
                <h5>강민규 (MingyuKang0503)</h5>
                <h6>국립창원대학교 정보통신공학과</h6>
                <i>"코딩하는 세상."</i>
                <h6><strong>Software Enginner</strong></h6>
                <ul>
                    <li>Full-Stack Developer (Vue.js, Node.js)</li>
                    <li>Database Engineer (RDBMS, NoSQL)</li>
                </ul>
            </div>
          </div>
        </div>
     <div class="card-panel grey darken-3 z-depth-1" style="">
          <div class="row">
            <div class="col picture">
              <img src="{% static 'mainpage/image/contributors/cg1119_profile.jpg' %}" alt="" class="circle responsive-img">
            </div>
            <div class="col profile">
                <h5>이동민 (cg1119)</h5>
                <h6>국립창원대학교 정보통신공학과</h6>
                <i>"Music is my life."</i>
                <h6><strong>Music Composer</strong></h6>
                <ul>
                    <li>Music Composition and Arrangement</li>
                    <li>Music Theory and History Knowledge</li>
                    <li>Sound Design and Audio Engineering (VSTs, Mixing, Mastering)</li>
                </ul>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/header.js' %}"></script>
{% endblock %}