{% extends "layout.html" %}
{% load static %}

{% block title %}
    Gallery :: Home
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/slider.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/index.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="slider-container">
        <div class="slider-overlay"></div>
        <div class="slideshow">
            {% for i in "1234" %}
                <div class="slideshow-image"
                     style="background-image: url('{% get_static_prefix %}mainpage/image/background/{{ i }}.jpg')">
                </div>
            {% endfor %}
        </div>
        <div class="slider-content-wrapper">
            <div class="slider-content">
                <h3 id="main-text"></h3>
                <a class="valign-wrapper find_more" href="/about">자세히 알아보기 <i class="material-icons">chevron_right</i></a>
            </div>
        </div>
    </div>
    <div class="container extended">
        <h4 class="section-title">주제별 컬렉션을 탐험하세요.</h4>
        <div class="cards-wrap">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'mainpage/image/index/landscape.jpg' %}" onclick="window.location.href = '/collections/landscape'">
                    <span class="card-title">Landscapes</span>
                </div>
                <div class="card-content">
                    <p>경관의 아름다움을 탐험하십시오.<br> 자연과 도시의 웅장함과 아름다움을 선사합니다.</p>
                </div>
            </div>
             <div class="card">
                <div class="card-image" onclick="window.location.href = '/collections/portrait'">
                    <img src="{% static 'mainpage/image/index/portrait.jpg' %}">
                    <span class="card-title">Portraits</span>
                </div>
                <div class="card-content">
                    <p>다양한 사람들의 모습,<br> 그리고 그들의 이야기를 전달합니다.</p>
                </div>
            </div>
             <div class="card">
                <div class="card-image">
                    <img src="{% static 'mainpage/image/index/innovation.jpg' %}" onclick="window.location.href = '/collections/innovation'">
                    <span class="card-title">Innovations</span>
                </div>
                <div class="card-content">
                    <p>과학 기술이 선사하는 아름다움,<br> 최신 기술을 소개합니다.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'vendors/type-hangle/type-hangul.bundle.js' %}"></script>
    <script>

        //slider에 출력할 텍스트 목록
        const texts = [
            "빛을 담다, 인생을 담다.",
            "초 연결성, 그 무한한 가능성.",
            "세상을 변화시키는 디지털 대전환."]
        const randomIndex = Math.floor(Math.random() * texts.length);

        $(document).ready(function () {
            document.getElementById("main-text").innerText = texts[randomIndex];
            TypeHangul.type('#main-text', {
                intervalType: 80,
                humanize: 0.5
            });


        });
    </script>
{% endblock %}