{% extends "layout.html" %}
{% load static %}

{% block title %}
    Gallery :: Manage
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'managepanel/css/manage.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div id="top-items">
        <div class="grey darken-4">
            <div class="container" style="padding-top: 30px; padding-bottom: 30px;margin-bottom: 80px">
                <h4 class="page-title">사이트 관리</h4>
            </div>
        </div>
        <div class="container">
            <div id="toolbar" class="valign-wrapper">
                <a id="add-record" class="waves-effect waves-light btn modal-trigger" href="#add-record-modal"><i class="material-icons left">add</i>레코드 추가</a>
                <select id="selected-category">
                    <option disabled>카테고리 선택</option>
                    <option value="*">전체</option>
                    <option value="landscape">Landscapes</option>
                    <option value="portrait">Portraits</option>
                    <option value="innovation">Innovations</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        {% if rowCount == 0 %}
            <div id="no-record">
                <i class="material-icons">warning</i>
                <h5>레코드가 없습니다.</h5>
            </div>
        {% else %}
            {% for photo in photoList %}
                <img src="{{ photo.thumbnail.url }}" style="height: 300px;display: block">
            {% endfor %}
        {% endif %}
    </div>

    <div id="add-record-modal" class="modal">
        <div class="modal-content">
            <iframe src="/upload"></iframe>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#selected-category").val("{{ category }}");
            M.AutoInit();

            $("#selected-category").change(function(){
                window.location.href = 'manage?category=' + $("#selected-category option:selected").val();
            });
        });

        function closeModal(){
            var instance = M.Modal.getInstance(document.getElementById("add-record-modal"));
            instance.close();
            location.reload();
        }
    </script>
{% endblock %}