{% extends "base.html" %}

{% block layout %}
    <div class="container" style="height: 100vh">
        <div style="width: 100%;height:100%;display: flex;flex-direction: column;align-items: center;justify-content: center;">
            <i class="material-icons" style="font-size: 56px">check_circle</i>
            <p style="font-size: 22px;">성공적으로 새 레코드를 만들었습니다.</p>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        setTimeout(function(){
            window.parent.closeModal();
        }, 3000);
    </script>
{% endblock %}